@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-ink text-slate-100 antialiased;
}

/* Scrollbar subtle */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #27272f;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: #050608;
}
